<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/posts" method="post">
      Title of Blog: <input id="name" type="text" name="post[name]" value=""> <br>
      Post <input id="content" type="text" name="post[content]" value=""> <br>
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
